/*button start*/
#submit {
    border: 2px solid black;
    font-size: 20px;
    padding: 13px;
    background: #7c7979;
    color: white;
    text-align: center;
    margin: 10px;
    position: relative;
    left: 8px;
    top: 20px;
    width: 93%;
}

#submit:hover {
    background: #92dcee;
    color: black;
}
/*button end*/

/*form start*/
form {
    height: 370px;
}

#formContainer1, #formContainer3 {
    position: relative;
    text-align: left;
    margin-left: 300px; 
    font-size: 25px;
    width: 500px;
    border: 4px solid #92dcee;
    border-radius: 5%;
    padding: 20px;
    background: #dddcdc;
    padding-top: 30px;
    margin-top: 20px;
    height: 400px;
}

label {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    padding: 10px;
}

input, select {
    width: 230px;
    padding: 5px;
    font-size: 17.5px;
}

#rating {
    width: 49%;
}

#file {
    position: relative;
    right: 5px;
}
/*form end*/

.movieRatings {
    width: 30%;
    position: relative;
    left: 1075px;
    bottom: 420px;
    border: 2px solid black;

}

body {
    overflow: hidden;
}

/*length hrs mins start*/
#hrs, #mins {
    width: 21%;
}
/*length hrs mins start*/
